.header__contact {
  background-color: $color-primary-dark;
  height: 2.7rem;

  &-info {
    color: white;
    text-align: right;
    padding-top: 6px;
    font-size: 1.2rem;
    margin-right: 8.5rem;
  }
}

.header {
  background-color: teal;
  height: 80vh;
  background-image: url(../img/orlando-florida-dentist.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;

  .text-box {
    border: 1.8px solid white;
    width: 95rem;
    height: 34rem;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  margin-top: 50px;
  color: $color-light;
  text-align: left;

  &-logo {
    width: 7%;
  }

  .heading-primary-main {
    font-family: "Domine", serif;
    font-size: 4.5rem;
    display: block;
    text-align: left;

    &:after {
      display: block;
      height: 2px;
      background-color: white;
      content: " ";
      width: 100px;
      text-align: left;
      margin-top: 40px;
    }
  }

  .heading-primary-sub {
    font-family: "Domine", serif;
    width: 60%;
    font-size: 1.9rem;
    display: block;
    text-align: left;
    margin-top: 4rem;
  }
}
