.button {
    font-weight: 700;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: .8rem 1.2rem;
    font-size: .8rem;

    &:hover {
        text-decoration: none;
        color: $color-primary-dark;
    }

    &-green {
        color: $color-primary-dark;
        background: $color-secondary;
    }

    &-blue {
        padding: .8rem 2.5rem;
        color: $color-light;
        background-color: $color-primary-light;
        &:hover {
            text-decoration: none;
            color: $color-light;
        }
    }

    &-transparent {
        padding: .8rem 2.5rem;
        color: $color-light;
        border: 1px solid $color-light;

        &:hover {
            text-decoration: none;
            color: $color-light;
        }
    }
}


.button-header {
    margin-top: 2rem;

}

.button-experience {
    margin-top: 32px;
    padding: .8rem 2rem;
    letter-spacing: 1px;
}
